@import url("css.css");



/* vietnamese */
@font-face {
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("QGYqz_wNahGAdqQ43Rh_eZDkv_1w4A.woff2") format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("QGYqz_wNahGAdqQ43Rh_eZDlv_1w4A.woff2") format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("QGYqz_wNahGAdqQ43Rh_eZDrv_0.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("QGYqz_wNahGAdqQ43Rh_eZDkv_1w4A.woff2") format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("QGYqz_wNahGAdqQ43Rh_eZDlv_1w4A.woff2") format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("QGYqz_wNahGAdqQ43Rh_eZDrv_0.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url("QGYqz_wNahGAdqQ43Rh_eZDkv_1w4A.woff2") format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url("QGYqz_wNahGAdqQ43Rh_eZDlv_1w4A.woff2") format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url("QGYqz_wNahGAdqQ43Rh_eZDrv_0.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("QGYqz_wNahGAdqQ43Rh_eZDkv_1w4A.woff2") format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("QGYqz_wNahGAdqQ43Rh_eZDlv_1w4A.woff2") format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("QGYqz_wNahGAdqQ43Rh_eZDrv_0.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("QGYsz_wNahGAdqQ43Rh_c6Dpp_k.woff2") format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("QGYsz_wNahGAdqQ43Rh_cqDpp_k.woff2") format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("QGYsz_wNahGAdqQ43Rh_fKDp.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("QGYsz_wNahGAdqQ43Rh_c6Dpp_k.woff2") format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("QGYsz_wNahGAdqQ43Rh_cqDpp_k.woff2") format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("QGYsz_wNahGAdqQ43Rh_fKDp.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("QGYsz_wNahGAdqQ43Rh_c6Dpp_k.woff2") format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("QGYsz_wNahGAdqQ43Rh_cqDpp_k.woff2") format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("QGYsz_wNahGAdqQ43Rh_fKDp.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("QGYsz_wNahGAdqQ43Rh_c6Dpp_k.woff2") format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("QGYsz_wNahGAdqQ43Rh_cqDpp_k.woff2") format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("QGYsz_wNahGAdqQ43Rh_fKDp.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
body {
  font-family: Work Sans;
}
.display-1 {
  font-family: 'Cormorant', serif;
  font-size: 6.25rem;
  line-height: 0.833;
}
.display-1 > .mbr-iconfont {
  font-size: 7.8125rem;
}
.display-2 {
  font-family: 'Cormorant', serif;
  font-size: 3.43rem;
  line-height: 1;
}
.display-2 > .mbr-iconfont {
  font-size: 4.2875rem;
}
.display-4 {
  font-family: 'Work Sans', sans-serif;
  font-size: 0.69rem;
  line-height: 2;
}
.display-4 > .mbr-iconfont {
  font-size: 0.8625rem;
}
.display-5 {
  font-family: 'Cormorant', serif;
  font-size: 1.87rem;
  line-height: 1.06;
}
.display-5 > .mbr-iconfont {
  font-size: 2.3375rem;
}
.display-7 {
  font-family: 'Work Sans', sans-serif;
  font-size: 0.94rem;
  line-height: 1.73;
}
.display-7 > .mbr-iconfont {
  font-size: 1.175rem;
}
form .display-5 {
  font-family: 'Cormorant', serif;
  font-size: 1.04rem;
  line-height: 1.5625;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)        48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 5rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 4.375rem;
    font-size: calc( 2.8375rem + (6.25 - 2.8375) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.8375rem + (6.25 - 2.8375) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.744rem;
    font-size: calc( 1.8505rem + (3.43 - 1.8505) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.8505rem + (3.43 - 1.8505) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.496rem;
    font-size: calc( 1.3045rem + (1.87 - 1.3045) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.3045rem + (1.87 - 1.3045) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.752rem;
    font-size: calc( 0.979rem + (0.94 - 0.979) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (0.979rem + (0.94 - 0.979) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.94rem 2.25rem;
  position: relative;
}
.btn-sm {
  padding: 0.94rem 2.25rem;
}
.btn-md {
  padding: 0.94rem 2.25rem;
}
.btn-lg {
  padding: 0.94rem 2.25rem;
}
.bg-primary {
  background-color: #f23801 !important;
}
.bg-success {
  background-color: #f7e4d6 !important;
}
.bg-info {
  background-color: #9e9e9e !important;
}
.bg-warning {
  background-color: #ffe161 !important;
}
.bg-danger {
  background-color: #f4f4f4 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #f23801 !important;
  border-color: #f23801 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-primary:hover:after,
.btn-primary:focus:after,
.btn-primary.focus:after,
.btn-primary.active:after {
  transform: translateX(10px);
}
.btn-primary:hover::before,
.btn-primary:focus::before,
.btn-primary.focus::before,
.btn-primary.active::before {
  width: 50px !important;
  right: -30px !important;
  background: linear-gradient(90deg, #ffffff 43%, #000000 40%) !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #9c2401 !important;
  border-color: #9c2401 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #000000 !important;
  border-color: #000000 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-secondary:hover:after,
.btn-secondary:focus:after,
.btn-secondary.focus:after,
.btn-secondary.active:after {
  transform: translateX(10px);
}
.btn-secondary:hover::before,
.btn-secondary:focus::before,
.btn-secondary.focus::before,
.btn-secondary.active::before {
  width: 50px !important;
  right: -30px !important;
  background: linear-gradient(90deg, #ffffff 43%, #000000 40%) !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-info,
.btn-info:active {
  background-color: #9e9e9e !important;
  border-color: #9e9e9e !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-info:hover:after,
.btn-info:focus:after,
.btn-info.focus:after,
.btn-info.active:after {
  transform: translateX(10px);
}
.btn-info:hover::before,
.btn-info:focus::before,
.btn-info.focus::before,
.btn-info.active::before {
  width: 50px !important;
  right: -30px !important;
  background: linear-gradient(90deg, #ffffff 43%, #000000 40%) !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #737373 !important;
  border-color: #737373 !important;
}
.btn-success,
.btn-success:active {
  background-color: #f7e4d6 !important;
  border-color: #f7e4d6 !important;
  color: #ac5c22 !important;
  box-shadow: none;
}
.btn-success:hover:after,
.btn-success:focus:after,
.btn-success.focus:after,
.btn-success.active:after {
  transform: translateX(10px);
}
.btn-success:hover::before,
.btn-success:focus::before,
.btn-success.focus::before,
.btn-success.active::before {
  width: 50px !important;
  right: -30px !important;
  background: linear-gradient(90deg, #ffffff 43%, #000000 40%) !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ac5c22 !important;
  background-color: #e9b48d !important;
  border-color: #e9b48d !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
  color: #614f00 !important;
  box-shadow: none;
}
.btn-warning:hover:after,
.btn-warning:focus:after,
.btn-warning.focus:after,
.btn-warning.active:after {
  transform: translateX(10px);
}
.btn-warning:hover::before,
.btn-warning:focus::before,
.btn-warning.focus::before,
.btn-warning.active::before {
  width: 50px !important;
  right: -30px !important;
  background: linear-gradient(90deg, #ffffff 43%, #000000 40%) !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614f00 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #f4f4f4 !important;
  border-color: #f4f4f4 !important;
  color: #757575 !important;
  box-shadow: none;
}
.btn-danger:hover:after,
.btn-danger:focus:after,
.btn-danger.focus:after,
.btn-danger.active:after {
  transform: translateX(10px);
}
.btn-danger:hover::before,
.btn-danger:focus::before,
.btn-danger.focus::before,
.btn-danger.active::before {
  width: 50px !important;
  right: -30px !important;
  background: linear-gradient(90deg, #ffffff 43%, #000000 40%) !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #757575 !important;
  background-color: #c9c9c9 !important;
  border-color: #c9c9c9 !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: none;
}
.btn-white:hover:after,
.btn-white:focus:after,
.btn-white.focus:after,
.btn-white.active:after {
  transform: translateX(10px);
}
.btn-white:hover::before,
.btn-white:focus::before,
.btn-white.focus::before,
.btn-white.active::before {
  width: 50px !important;
  right: -30px !important;
  background: linear-gradient(90deg, #ffffff 43%, #000000 40%) !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-black:hover:after,
.btn-black:focus:after,
.btn-black.focus:after,
.btn-black.active:after {
  transform: translateX(10px);
}
.btn-black:hover::before,
.btn-black:focus::before,
.btn-black.focus::before,
.btn-black.active::before {
  width: 50px !important;
  right: -30px !important;
  background: linear-gradient(90deg, #ffffff 43%, #000000 40%) !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  color: #f23801;
}
.btn-primary-outline:hover:after,
.btn-primary-outline:focus:after,
.btn-primary-outline.focus:after,
.btn-primary-outline.active:after {
  transform: translateX(10px);
}
.btn-primary-outline:hover::before,
.btn-primary-outline:focus::before,
.btn-primary-outline.focus::before,
.btn-primary-outline.active::before {
  width: 50px !important;
  right: -30px !important;
  background: #000 !important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #f23801 !important;
  border-color: #f23801 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  color: #000000;
}
.btn-secondary-outline:hover:after,
.btn-secondary-outline:focus:after,
.btn-secondary-outline.focus:after,
.btn-secondary-outline.active:after {
  transform: translateX(10px);
}
.btn-secondary-outline:hover::before,
.btn-secondary-outline:focus::before,
.btn-secondary-outline.focus::before,
.btn-secondary-outline.active::before {
  width: 50px !important;
  right: -30px !important;
  background: #000 !important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  color: #9e9e9e;
}
.btn-info-outline:hover:after,
.btn-info-outline:focus:after,
.btn-info-outline.focus:after,
.btn-info-outline.active:after {
  transform: translateX(10px);
}
.btn-info-outline:hover::before,
.btn-info-outline:focus::before,
.btn-info-outline.focus::before,
.btn-info-outline.active::before {
  width: 50px !important;
  right: -30px !important;
  background: #000 !important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #9e9e9e !important;
  border-color: #9e9e9e !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  color: #f7e4d6;
}
.btn-success-outline:hover:after,
.btn-success-outline:focus:after,
.btn-success-outline.focus:after,
.btn-success-outline.active:after {
  transform: translateX(10px);
}
.btn-success-outline:hover::before,
.btn-success-outline:focus::before,
.btn-success-outline.focus::before,
.btn-success-outline.active::before {
  width: 50px !important;
  right: -30px !important;
  background: #000 !important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ac5c22 !important;
  background-color: #f7e4d6 !important;
  border-color: #f7e4d6 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  color: #ffe161;
}
.btn-warning-outline:hover:after,
.btn-warning-outline:focus:after,
.btn-warning-outline.focus:after,
.btn-warning-outline.active:after {
  transform: translateX(10px);
}
.btn-warning-outline:hover::before,
.btn-warning-outline:focus::before,
.btn-warning-outline.focus::before,
.btn-warning-outline.active::before {
  width: 50px !important;
  right: -30px !important;
  background: #000 !important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  color: #f4f4f4;
}
.btn-danger-outline:hover:after,
.btn-danger-outline:focus:after,
.btn-danger-outline.focus:after,
.btn-danger-outline.active:after {
  transform: translateX(10px);
}
.btn-danger-outline:hover::before,
.btn-danger-outline:focus::before,
.btn-danger-outline.focus::before,
.btn-danger-outline.active::before {
  width: 50px !important;
  right: -30px !important;
  background: #000 !important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #757575 !important;
  background-color: #f4f4f4 !important;
  border-color: #f4f4f4 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  color: #232323;
}
.btn-black-outline:hover:after,
.btn-black-outline:focus:after,
.btn-black-outline.focus:after,
.btn-black-outline.active:after {
  transform: translateX(10px);
}
.btn-black-outline:hover::before,
.btn-black-outline:focus::before,
.btn-black-outline.focus::before,
.btn-black-outline.active::before {
  width: 50px !important;
  right: -30px !important;
  background: #000 !important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  color: #fafafa;
}
.btn-white-outline:hover:after,
.btn-white-outline:focus:after,
.btn-white-outline.focus:after,
.btn-white-outline.active:after {
  transform: translateX(10px);
}
.btn-white-outline:hover::before,
.btn-white-outline:focus::before,
.btn-white-outline.focus::before,
.btn-white-outline.active::before {
  width: 50px !important;
  right: -30px !important;
  background: #000 !important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #f23801 !important;
}
.text-secondary {
  color: #000000 !important;
}
.text-success {
  color: #f7e4d6 !important;
}
.text-info {
  color: #9e9e9e !important;
}
.text-warning {
  color: #ffe161 !important;
}
.text-danger {
  color: #f4f4f4 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #8c2001 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #000000 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #e6ac81 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #6b6b6b !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #facb00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #c1c1c1 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
.nav-tabs .nav-link.active {
  color: #f23801;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #9e9e9e;
}
.alert-warning {
  background-color: #ffe161;
}
.alert-danger {
  background-color: #f4f4f4;
}
.mbr-section-btn .btn::after,
.mbr-section-btn .btn::before {
  content: "";
  position: absolute;
  transition: 0.3s;
}
.mbr-section-btn .btn::before {
  right: -20px;
  width: 40px;
  height: 2px;
}
.mbr-section-btn .btn::after {
  border: 4px solid transparent;
  border-left: 4px solid #000;
  right: -27px;
}
.mbr-section-btn .btn[class*="-outline"] {
  padding-left: 0;
}
.mbr-section-btn .btn[class*="-outline"]::before {
  background: #000;
}
.mbr-section-btn .btn:not([class*="-outline"])::before {
  background: linear-gradient(90deg, #ffffff 50%, #000000 50%);
}
.mbr-gallery-filter li.active .btn {
  background-color: #f23801;
  border-color: #f23801;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #f23801;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffcfc0;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #dedede;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Work Sans', sans-serif;
  font-size: 0.69rem;
  line-height: 2;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 0.8625rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: none;
  border-color: #f23801 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Work Sans', sans-serif;
  font-size: 0.69rem;
  line-height: 2;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 0.8625rem;
}
blockquote {
  border-color: #f23801;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #f23801;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #f23801;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #f23801;
  border-bottom-color: #f23801;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #f23801 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #000000 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-seN5SvjF1y .navbar-dropdown {
  position: relative !important;
}
.cid-seN5SvjF1y .dropdown-menu {
  padding: 1.625rem 0 1.875rem;
}
@media (min-width: 992px) {
  .cid-seN5SvjF1y .dropdown-menu {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  }
}
@media (max-width: 992px) {
  .cid-seN5SvjF1y .container-fluid,
  .cid-seN5SvjF1y .container {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
.cid-seN5SvjF1y .dropdown-item {
  padding: 0 1.9375rem 0 2.125rem;
}
.cid-seN5SvjF1y .dropdown-item:before {
  content: '';
  position: relative;
  width: 0px;
  height: 6px;
  opacity: 1;
  left: 0px;
  background: #f23801;
  border-radius: 100%;
  transition: all 0.2s ease-out;
  display: inline-block;
  vertical-align: middle;
}
.cid-seN5SvjF1y .dropdown-item:hover:before,
.cid-seN5SvjF1y .dropdown-item:focus:before {
  width: 6px;
  margin-right: 5px;
}
.cid-seN5SvjF1y .nav-dropdown .link {
  padding: 0;
  margin: 0 !important;
}
.cid-seN5SvjF1y .nav-link {
  position: relative;
  overflow: hidden;
  font-weight: 600;
  padding: 0rem 1.8125rem !important;
}
.cid-seN5SvjF1y .nav-link:before {
  content: '';
  position: absolute;
  width: 6px;
  height: 0px;
  opacity: 1;
  left: 15px;
  background: #f23801;
  border-radius: 100%;
  transition: all 0.2s ease-out;
  transform: translateY(-20px);
}
.cid-seN5SvjF1y .nav-link:hover:before {
  height: 6px;
  transform: translateY(0);
}
.cid-seN5SvjF1y .container {
  display: flex;
  margin: auto;
}
.cid-seN5SvjF1y .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-seN5SvjF1y .dropdown-menu,
.cid-seN5SvjF1y .navbar.opened {
  background: #232323 !important;
}
.cid-seN5SvjF1y .nav-item:focus,
.cid-seN5SvjF1y .nav-link:focus {
  outline: none;
}
.cid-seN5SvjF1y .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-seN5SvjF1y .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-seN5SvjF1y .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: .5rem;
  vertical-align: sub;
}
.cid-seN5SvjF1y .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-seN5SvjF1y .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-seN5SvjF1y .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-seN5SvjF1y .navbar {
  min-height: 70px;
  transition: all .3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #232323;
  padding: 1rem 0;
}
.cid-seN5SvjF1y .navbar.opened {
  transition: all .3s;
}
.cid-seN5SvjF1y .navbar .dropdown-item {
  padding: .5rem 1.8rem;
}
.cid-seN5SvjF1y .navbar .navbar-logo img {
  width: auto;
}
.cid-seN5SvjF1y .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-seN5SvjF1y .navbar.collapsed {
  justify-content: center;
}
.cid-seN5SvjF1y .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-seN5SvjF1y .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-seN5SvjF1y .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3rem);
  }
}
.cid-seN5SvjF1y .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-seN5SvjF1y .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-seN5SvjF1y .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-seN5SvjF1y .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-seN5SvjF1y .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
}
.cid-seN5SvjF1y .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-seN5SvjF1y .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-seN5SvjF1y .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-seN5SvjF1y .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-seN5SvjF1y .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-seN5SvjF1y .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-seN5SvjF1y .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-seN5SvjF1y .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-seN5SvjF1y .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem !important;
    text-align: center;
  }
  .cid-seN5SvjF1y .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-seN5SvjF1y .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-seN5SvjF1y .navbar .icons-menu {
    padding-left: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-seN5SvjF1y .navbar.navbar-short {
  min-height: 60px;
}
.cid-seN5SvjF1y .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-seN5SvjF1y .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-seN5SvjF1y .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-seN5SvjF1y .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-seN5SvjF1y .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-seN5SvjF1y .dropdown-item.active,
.cid-seN5SvjF1y .dropdown-item:active {
  background-color: transparent;
}
.cid-seN5SvjF1y .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-seN5SvjF1y .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-seN5SvjF1y .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-seN5SvjF1y .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #232323;
}
.cid-seN5SvjF1y .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-seN5SvjF1y .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-seN5SvjF1y ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-seN5SvjF1y .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-seN5SvjF1y button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  align-self: center;
}
.cid-seN5SvjF1y button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-seN5SvjF1y button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-seN5SvjF1y button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-seN5SvjF1y button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-seN5SvjF1y button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-seN5SvjF1y nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-seN5SvjF1y nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-seN5SvjF1y nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-seN5SvjF1y nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-seN5SvjF1y .navbar-dropdown {
  padding: 1rem 0;
}
.cid-seN5SvjF1y a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-seN5SvjF1y .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-seN5SvjF1y .navbar {
    height: 70px;
  }
  .cid-seN5SvjF1y .navbar.opened {
    height: auto;
  }
  .cid-seN5SvjF1y .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-seN6mrWfXp {
  background-image: url("background31.jpg");
}
.cid-seN6mrWfXp .mbr-img-wrap {
  height: 100%;
  object-fit: cover;
}
.cid-seN6mrWfXp .mbr-section-tag {
  margin-bottom: 14px;
}
.cid-seN6mrWfXp .mbr-section-btn {
  margin: 1.625rem 0 0 0;
}
.cid-seN6mrWfXp .mbr-section-title {
  margin-bottom: 2.1875rem;
  text-align: left;
}
.cid-seN6mrWfXp .mbr-section-title b:last-child,
.cid-seN6mrWfXp .mbr-section-title strong:last-child {
  color: #f23801;
}
.cid-seN6mrWfXp .mbr-section-subtitle {
  text-align: left;
}
.cid-seN6nBi8MM {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #000000;
}
.cid-seN6nBi8MM .row {
  flex-direction: row-reverse;
}
.cid-seN6nBi8MM .mbr-img-wrap {
  height: 100%;
  object-fit: cover;
}
@media (max-width: 991px) {
  .cid-seN6nBi8MM .image-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-seN6nBi8MM .image-wrapper img {
  vertical-align: middle;
  width: 100%;
  object-fit: cover;
}
@media (min-width: 992px) {
  .cid-seN6nBi8MM .text-wrapper {
    padding: 0 3rem 0 0;
  }
}
@media (max-width: 768px) {
  .cid-seN6nBi8MM .text-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-seN6nBi8MM .mbr-section-tag {
  margin-bottom: 1rem;
  color: #9e9e9e;
}
.cid-seN6nBi8MM .mbr-section-btn {
  margin-top: 1.625rem;
}
.cid-seN6nBi8MM .mbr-section-bottom {
  margin-top: 1.375rem;
}
.cid-seN6nBi8MM .bottom-text {
  margin-top: 1.75rem;
  margin-bottom: 0.625rem;
}
.cid-seN6nBi8MM .bottom-title {
  margin-top: 1.5625rem;
  margin-bottom: 1.5625rem;
  color: #f23801;
}
.cid-seN6nBi8MM .list {
  list-style: none;
  margin: 0;
  padding-left: 1.6rem;
}
.cid-seN6nBi8MM .list li {
  position: relative;
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}
.cid-seN6nBi8MM .list li::before {
  content: "\e97c";
  position: absolute;
  left: -1.6rem;
  top: 0.5rem;
  font-family: 'Moririse2' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.cid-seN6nBi8MM .mbr-section-title {
  margin-bottom: 2.1875rem;
  color: #ffffff;
}
.cid-seN6nBi8MM .mbr-section-title b:last-child,
.cid-seN6nBi8MM .mbr-section-title strong:last-child {
  color: #f23801;
}
.cid-seN6nBi8MM .mbr-subtitle {
  color: #ffffff;
}
.cid-seN6nBi8MM .mbr-text {
  text-align: left;
  color: #ffffff;
}
.cid-seN6HIp3mI {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #000000;
}
.cid-seN6HIp3mI .mbr-img-wrap {
  height: 100%;
  object-fit: cover;
}
@media (max-width: 991px) {
  .cid-seN6HIp3mI .image-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-seN6HIp3mI .image-wrapper img {
  vertical-align: middle;
  width: 100%;
  object-fit: cover;
}
@media (min-width: 992px) {
  .cid-seN6HIp3mI .text-wrapper {
    padding: 0 0 0 3rem;
  }
}
@media (max-width: 768px) {
  .cid-seN6HIp3mI .text-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-seN6HIp3mI .mbr-section-tag {
  margin-bottom: 1rem;
  color: #9e9e9e;
}
.cid-seN6HIp3mI .mbr-section-btn {
  margin-top: 1.625rem;
}
.cid-seN6HIp3mI .mbr-section-bottom {
  margin-top: 1.375rem;
}
.cid-seN6HIp3mI .bottom-text {
  margin-top: 1.75rem;
  margin-bottom: 0.625rem;
}
.cid-seN6HIp3mI .bottom-title {
  margin-top: 1.5625rem;
  margin-bottom: 1.5625rem;
  color: #f23801;
}
.cid-seN6HIp3mI .list {
  list-style: none;
  margin: 0;
  padding-left: 1.6rem;
  color: #ffffff;
}
.cid-seN6HIp3mI .list li {
  position: relative;
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}
.cid-seN6HIp3mI .list li::before {
  content: "\e97c";
  position: absolute;
  left: -1.6rem;
  top: 0.5rem;
  font-family: 'Moririse2' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.cid-seN6HIp3mI .mbr-section-title {
  margin-bottom: 2.1875rem;
  color: #ffffff;
}
.cid-seN6HIp3mI .mbr-section-title b:last-child,
.cid-seN6HIp3mI .mbr-section-title strong:last-child {
  color: #f23801;
}
.cid-seN6HIp3mI .mbr-subtitle {
  color: #ffffff;
}
.cid-seN6HIp3mI .mbr-text {
  color: #ffffff;
}
.cid-seN6syvu3D {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #000000;
}
@media (min-width: 1500px) {
  .cid-seN6syvu3D .container {
    max-width: 1400px;
  }
}
.cid-seN6syvu3D .row {
  justify-content: center;
}
.cid-seN6syvu3D .mbr-section-tag {
  color: #9e9e9e;
}
.cid-seN6syvu3D .card-title {
  margin-bottom: 0.875rem;
  color: #ffffff;
}
.cid-seN6syvu3D .card {
  margin-top: 3rem;
}
.cid-seN6syvu3D .card-wrapper {
  padding-left: 2.0625rem;
  border-left: 2px solid #f23801;
}
.cid-seN6syvu3D .mbr-section-btn .btn {
  margin-top: 0.5625rem !important;
  margin-right: 2rem;
  outline: none;
}
.cid-seN6syvu3D .card-text,
.cid-seN6syvu3D .mbr-section-btn {
  color: #ffffff;
}
.cid-seN9KMVwJw {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #000000;
}
.cid-seN9KMVwJw img,
.cid-seN9KMVwJw .item-img {
  height: 100%;
  height: 300px;
  object-fit: cover;
}
.cid-seN9KMVwJw .item:focus,
.cid-seN9KMVwJw span:focus {
  outline: none;
}
.cid-seN9KMVwJw .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-seN9KMVwJw .item-title {
  font-weight: 500;
}
.cid-seN9KMVwJw .item-subtitle {
  margin-bottom: 1rem;
}
.cid-seN9KMVwJw .item-wrapper {
  position: relative;
  background: #ffffff;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (max-width: 991px) {
  .cid-seN9KMVwJw .item-wrapper .item-footer {
    padding: 0 1rem 1rem;
  }
}
.cid-seN9KMVwJw .item-wrapper:hover .item-content {
  opacity: 1;
  z-index: 1;
}
.cid-seN9KMVwJw .item-wrapper:hover .item-text-wrap {
  opacity: 1;
  transform: translateY(0);
}
.cid-seN9KMVwJw .item-content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: 0.3s ease-out;
}
.cid-seN9KMVwJw .item-text-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.6s cubic-bezier(0.475, 0.425, 0, 0.995);
  transition-delay: .3s;
}
.cid-seN9KMVwJw .mbr-social-likes {
  display: flex;
  align-items: center;
}
.cid-seN9KMVwJw .mbr-social-likes a {
  color: #000000;
}
.cid-seN9KMVwJw .mbr-social-likes span {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid #000000;
  width: 36px;
  height: 36px;
  margin-left: 0.4375rem;
  margin-right: 0.4375rem;
  transition: 0.3s ease-out;
}
.cid-seN9KMVwJw .mbr-social-likes span:hover {
  border-color: #f23801;
  color: #f23801;
}
.cid-seN9KMVwJw .mbr-section-tag {
  color: #9e9e9e;
  margin-bottom: 0.4375rem;
}
.cid-seN9KMVwJw .mbr-section-title {
  margin-bottom: 1rem;
  color: #ffffff;
}
.cid-seN9KMVwJw .mbr-section-title b:last-child,
.cid-seN9KMVwJw .mbr-section-title strong:last-child {
  color: #f23801;
}
.cid-seN9KMVwJw .mbr-section-subtitle {
  margin-bottom: 0.625rem;
}
.cid-seN9KMVwJw .features-items-wrap {
  margin-top: 3.3125rem;
  margin-bottom: 0;
}
.cid-seN9KMVwJw .mbr-section-bottom {
  display: flex;
}
.cid-seN9KMVwJw .bottom-text {
  margin-top: 1.25rem;
}
.cid-seN9KMVwJw .item-features-image {
  margin-bottom: 3.125rem;
}
.is-builder .cid-seN9KMVwJw .item-content {
  border-bottom-left-radius: 100px;
}
.cid-seN9Nj4O2l {
  padding-top: 90px;
  padding-bottom: 90px;
  background: #000000;
}
.cid-seN9Nj4O2l .plan-body .btn-bgr {
  z-index: 0;
}
.cid-seN9Nj4O2l .list-group-item {
  padding: .5rem 3.25rem;
}
.cid-seN9Nj4O2l .price-term {
  display: block;
  line-height: 1;
  margin-top: 0.45rem;
}
.cid-seN9Nj4O2l .plan-title {
  background-color: #f23801;
  text-align: center;
}
.cid-seN9Nj4O2l .plan-header {
  overflow: hidden;
}
.cid-seN9Nj4O2l .mbr-section-btn {
  padding: 0 2.45rem;
}
.cid-seN9Nj4O2l .plan {
  position: relative;
  max-width: 330px;
  padding-right: 0;
  padding-left: 0;
}
.cid-seN9Nj4O2l .plan-price {
  width: 100%;
}
.cid-seN9Nj4O2l .plan .list-group-item {
  position: relative;
  -webkit-justify-content: center;
  justify-content: center;
  border: 0;
  background: transparent;
}
.cid-seN9Nj4O2l .plan-header,
.cid-seN9Nj4O2l .plan-body {
  background-color: #ffffff;
  border-bottom: solid 2px rgba(0, 0, 0, 0.07);
}
.cid-seN9Nj4O2l .price-figure {
  font-weight: 600;
}
.cid-seN9Nj4O2l .price-value {
  font-weight: 700;
  vertical-align: top;
  line-height: 1;
  margin-right: 0.25rem;
}
@media (max-width: 550px) {
  .cid-seN9Nj4O2l .price-figure {
    font-size: 4.25rem;
  }
}
.cid-seN6xUcxtl {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #000000;
}
.cid-seN6xUcxtl .panel-group {
  border: none;
}
.cid-seN6xUcxtl .panel-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cid-seN6xUcxtl .panel-title.collapsed .icon-card::after {
  transform: rotate(90deg);
}
.cid-seN6xUcxtl .panel-title.collapsed .icon-card::before {
  transform: rotate(180deg);
}
.cid-seN6xUcxtl .panel-title:hover .icon-card::after {
  transform: rotate(0deg);
}
.cid-seN6xUcxtl .panel-title:hover .icon-card::before {
  transform: rotate(0deg);
}
.cid-seN6xUcxtl .card-header {
  margin: 0 !important;
  padding: 0.8125rem 0 0.3125rem 0;
  border-bottom: 2px solid #e5d9d0;
}
.cid-seN6xUcxtl .panel-body {
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
}
.cid-seN6xUcxtl .card {
  margin-bottom: 0.75rem;
}
.cid-seN6xUcxtl .card .card-header {
  background-color: transparent;
}
.cid-seN6xUcxtl .panel-title-edit {
  width: 100%;
  color: #ffffff;
}
.cid-seN6xUcxtl .image-wrapper,
.cid-seN6xUcxtl .mbr-img-wrap {
  height: 100%;
}
.cid-seN6xUcxtl .icon-card {
  width: 17px;
  height: 17px;
  position: relative;
}
.cid-seN6xUcxtl .icon-card::before,
.cid-seN6xUcxtl .icon-card::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 2px;
  background: #f23801;
  transition: 0.3s;
}
.cid-seN6xUcxtl .panel-text {
  color: #ffffff;
}
.cid-seN6LyLNNU {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #000000;
}
.cid-seN6LyLNNU .carousel-item {
  padding: 0 10%;
  justify-content: center;
  -webkit-justify-content: center;
}
.cid-seN6LyLNNU .carousel-item.active,
.cid-seN6LyLNNU .carousel-item-next,
.cid-seN6LyLNNU .carousel-item-prev {
  display: flex;
}
.cid-seN6LyLNNU .img-box {
  position: relative;
  width: fit-content;
  margin: auto;
}
.cid-seN6LyLNNU .carousel-controls .mbr-iconfont {
  font-family: Moririse2 !important;
  font-size: 1rem;
  font-weight: 900;
  transition: opacity .3s;
}
.cid-seN6LyLNNU .carousel-controls a {
  transition: all .3s;
  border-radius: 50%;
  border: none;
  background-color: transparent;
}
.cid-seN6LyLNNU .carousel-controls a span {
  color: #f23801 !important;
  font-size: 35px !important;
}
.cid-seN6LyLNNU .carousel-controls a:hover .mobi-mbri-left {
  transform: translateX(-5px);
}
.cid-seN6LyLNNU .carousel-controls a:hover .mobi-mbri-right {
  transform: translateX(5px);
}
.cid-seN6LyLNNU .carousel-controls .carousel-control-next,
.cid-seN6LyLNNU .carousel-controls .carousel-control-prev {
  opacity: 1;
  width: 44px;
  height: 44px;
}
.cid-seN6LyLNNU .carousel-controls .carousel-control-next {
  bottom: auto;
  top: 44%;
}
.cid-seN6LyLNNU .carousel-controls .carousel-control-prev {
  bottom: auto;
  top: 44%;
}
.cid-seN6LyLNNU .author-box {
  margin-bottom: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cid-seN6LyLNNU .face {
  width: 130px;
  height: 130px;
  border-radius: 100%;
  box-shadow: none;
  margin: 0rem;
  object-fit: cover;
}
.cid-seN6LyLNNU .author {
  margin: auto 0;
}
.cid-seN6LyLNNU .mbr-text {
  margin-bottom: 34px !important;
}
.cid-seN6LyLNNU h3,
.cid-seN6LyLNNU h4 {
  margin: 0;
  padding: 0;
}
.cid-seN6LyLNNU .mbr-bottom {
  color: #f4f4f4;
}
.cid-seN6LyLNNU .box {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px!important;
}
@media (max-width: 992px) {
  .cid-seN6LyLNNU .carousel-controls a span {
    bottom: auto;
    top: 30%;
  }
}
@media (max-width: 767px) {
  .cid-seN6LyLNNU .carousel-controls a span {
    bottom: auto;
    top: 20%;
  }
}
.cid-seN6LyLNNU .carousel-indicators {
  bottom: -35px;
}
.cid-seN6LyLNNU .carousel-indicators li {
  margin-right: 31px;
  margin-left: 31px;
  opacity: 1;
  width: 6px;
  height: 6px;
  max-width: 6px;
  max-height: 6px;
  min-width: 6px;
  min-height: 6px;
  background: #000000;
  border: none;
  position: relative;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.cid-seN6LyLNNU .carousel-indicators li:hover {
  opacity: 1 !important;
}
.cid-seN6LyLNNU .carousel-indicators li svg {
  position: absolute;
  display: block;
  width: 36px;
  height: 36px;
  z-index: 1;
  fill: none;
  color: #000000;
  stroke: none;
  overflow: visible;
}
.cid-seN6LyLNNU .carousel-indicators li svg circle {
  stroke-dasharray: 110;
  stroke-dashoffset: 110;
  stroke: #000000;
  stroke-width: 1;
  transition: all 0.6s cubic-bezier(0.43, 0.41, 0.36, 0.9);
  transform: rotate(-145deg);
  transform-origin: center;
}
.cid-seN6LyLNNU .carousel-indicators li.active {
  background: #000000;
}
.cid-seN6LyLNNU .carousel-indicators li.active circle {
  stroke-dashoffset: 0;
  transform: rotate(55deg);
}
.cid-seN6LyLNNU .mbr-section-title {
  margin-bottom: 2rem;
}
.cid-seN6LyLNNU .mbr-text,
.cid-seN6LyLNNU .mbr-section-btn {
  text-align: center;
  color: #ffffff;
}
.cid-seN6LyLNNU H3 {
  color: #ffffff;
}
.cid-seN6M0nEEx {
  padding-top: 2rem;
  padding-bottom: 3rem;
  background-color: #000000;
}
.cid-seN6M0nEEx .row-links {
  width: 100%;
  justify-content: center;
}
.cid-seN6M0nEEx .social-row {
  width: 100%;
  justify-content: center;
}
.cid-seN6M0nEEx .media-container-row {
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 992px) {
  .cid-seN6M0nEEx .media-container-row {
    flex-direction: column;
    justify-content: center;
  }
  .cid-seN6M0nEEx .media-container-row .footer-item,
  .cid-seN6M0nEEx .media-container-row .mbr-social-likes,
  .cid-seN6M0nEEx .media-container-row .footer-logo {
    margin-bottom: 1.5rem;
  }
}
@media (max-width: 546px) {
  .cid-seN6M0nEEx .media-container-row .mbr-social-likes {
    flex-wrap: wrap;
    justify-content: center;
  }
  .cid-seN6M0nEEx .media-container-row .mbr-social-likes .footer-item {
    margin-bottom: 1.5rem !important;
    width: 100%;
    text-align: center;
    justify-content: center;
  }
  .cid-seN6M0nEEx .media-container-row .mbr-social-likes .iconfont-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-seN6M0nEEx .row-copyright {
  word-break: break-word;
  width: auto;
  min-width: calc(100% - (5 * 1rem));
  display: inline-block;
}
.cid-seN6M0nEEx .mbr-social-likes {
  display: flex;
  align-items: center;
}
.cid-seN6M0nEEx .mbr-social-likes a {
  color: #000000;
}
.cid-seN6M0nEEx .mbr-social-likes span {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid #bbbbbb;
  width: 36px;
  height: 36px;
  margin-left: 0.4375rem;
  margin-right: 0.4375rem;
  transition: 0.3s ease-out;
}
.cid-seN6M0nEEx .mbr-social-likes span:hover {
  border-color: #f23801;
  color: #f23801;
}
.cid-seN6M0nEEx .footer-logo img {
  width: auto;
}
.cid-seN6M0nEEx .footer-item {
  display: flex;
  align-items: center;
}
.cid-seN6M0nEEx .footer-item a {
  background: none !important;
  text-decoration: none !important;
}
.cid-seN6M0nEEx .footer-item-title {
  color: #ffffff;
}
.cid-seN6M0nEEx .media-container-row .mbr-text {
  color: #ffffff;
  text-align: right;
}
